.video_rank_title {
    color: #FFF;
    font-family: 'Lexend Giga', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.pt_span {
    color: #FFF;
    font-family: 'Lexend Giga', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}